{% extends "layout.html" %}
{% block body %}

    <div class="jumbotron justify-content-center">

        <div class="card-body">

            <h1 class="display-4">{{animal.CommonName}}</h1>
     <h3 class="display-3"> {{ animal.ScientificName }}</h3>
            <img src="https://ninth.site/Static/Images/{{ animal.ImageURL }}" class="img-thumbnail"
                 alt={{ animal.CommonName }}>

            <hr class="my-4">

    <p class="lead"> {{animal.BriefSummary | safe}}</p>


      <img src={{ static_site }} /Static/Images/{{ animal.ImageURL }} class="img-fluid" alt={{ animal.CommonName }}>



    {{ animal.FunFacts | safe }}

    {{ animal.Habitat | safe }}

    {{ animal.Diet | safe }}

    {{ animal.Zone | safe }}

    <h2>Care Notes: </h2>
        {{ carenotes.FeedingSchedule | safe }}

    {{ carenotes.Food | safe }}

    {{ carenotes.Notes | safe }}

    <a href="{{ url_for('edit_animal',animal_name=animal.CommonName.replace(' ','_')) }}">
    Edit page for {{ animal.CommonName }}
</a>

{#    <input type="text" name="BriefSummary" size="60" value="{{animal.BriefSummary}}"><br>#}
{#    <textarea style="width:80%" rows="12" name="BriefSummary">{{animal.BriefSummary}}</textarea>#}
{#    <h3>Fun Facts</h3>#}
{#    <textarea style="width:80%" rows="4" name="FunFacts">{{ animal.FunFacts }}</textarea>#}
{##}
{#    <h3>Diet</h3>#}
{#    <textarea style="width:80%" rows="4" name="Diet">{{ animal.Diet }}</textarea>#}

{#    <br><h2>Care Notes</h2>#}
{#    <h4>Feeding Schedule</h4>#}
{#    <input type="text" name="FeedingSchedule" size="60" value="{{carenotes.FeedingSchedule}}"><br>#}
{#    <h4>Food to feed</h4>#}
{#    <input type="text" name="Food" size="60" value="{{ carenotes.Food }}"><br>#}
{#    <h4>Notes</h4>#}
{#    <input type="text" name="Notes" size="60" value="{{ carenotes.Notes }}"><br><br>#}

    <br><br><br><br>
{{ animal.attribution | safe }} {#TODO: Move attribution to footer#}
  </div>
</div>

      <script src="{{ static_site }}/Static/vendor/jquery/jquery.min.js"></script>
  <script src="{{ static_site }}/Static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}

