{% extends "layout.html" %}

{% block javascript %}
    <script src="{{ static_site }}/Static/js/jquery.ellipsis.js"></script>
{% endblock %}

<link rel="stylesheet" href="{{ static_site }}/Static/css/heroic-features.css">


{% block body %}



  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-3">
            <img class="jumbotron-fluid w-100" src={{ static_site }}/Static/banners/{{ banner }}>
      <h4 class="display-3 text-center">A Warm Welcome to the zoo!</h4>
      <p class="lead"></p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src={{ static_site }}/Static/Images/{{ animal.ImageURL }} alt={{ animal.CommonName }}, width="500"
                 , height="325">
          <div class="card-body">
            <h4 class="card-title">{{animal.CommonName}}</h4>
              <div class="box">
            <p class="card-text">{{animal.html_summary | safe}}</p>
                  </div>

          </div>
          <div class="card-footer">
              <a href="{{ url_for('animal_page',animal_name=animal.CommonName) }}" class="btn btn-primary">
                Find Out More </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src={{ static_site }}/Static/Images/{{ animal2.ImageURL }} alt={{ animal2.CommonName }}, width="500"
                 , height="325">
          <div class="card-body">
            <h4 class="card-title">{{animal2.CommonName}}</h4>
              <div class="box">
            <p class="card-text">{{animal2.html_summary | safe}}</p>
                  </div>

          </div>
          <div class="card-footer">
              <a href="{{ url_for('animal_page',animal_name=animal2.CommonName) }}" class="btn btn-primary">
                Find Out More </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src={{ static_site }}/Static/Images/{{ animal3.ImageURL }} alt={{ animal3.CommonName }}, width="500"
                 , height="325">
          <div class="card-body">
            <h4 class="card-title">{{animal3.CommonName}}</h4>
              <div class="box">
            <p class="card-text">{{animal3.html_summary | safe}}</p>
                  </div>

          </div>
          <div class="card-footer">
              <a href="{{ url_for('animal_page',animal_name=animal3.CommonName) }}" class="btn btn-primary">
                Find Out More </a>
          </div>
        </div>
      </div>


    </div>
    <!-- /.row -->

              <a href="{{ url_for('glossary')}}">
            All the animals at the Zoo!
</a><br>

  </div>
  <!-- /.container -->


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; WWW ZOO</p>
        <p class="m-0 text-center"><a href="https://www.freepik.com/free-photos-vectors/banner">Banner vector created by freepik - www.freepik.com</a></p>
    <p class="m-0 text-center text-white-50">Article text is available under the Creative Commons Attribution-ShareAlike License; additional terms may apply.</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->

  <script src="{{ static_site }}/Static/vendor/jquery/jquery.min.js"></script>
  <script src="{{ static_site }}/Static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    ('.box').ellipsis({
  lines: 3,             // force ellipsis after a certain number of lines. Default is 'auto'
  ellipClass: 'ellip',  // class used for ellipsis wrapper and to namespace ellip line
  responsive: true      // set to true if you want ellipsis to update on window resize. Default is false
});
    {#('.box--responsive').ellipsis({ responsive: true });#}
</script>

{% endblock %}


