{% extends "layout.html" %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">







    <div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Register</h3>

            </div>
            {{ error | safe }}
            <div class="card-body">
                <form method=POST action="{{ url_for('register') }}">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="username" placeholder="Username" required>

                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="pass" placeholder="Password" required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                    </div>

                    <div class="form-group">

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="lastname" placeholder="lastname" required>

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="firstname" placeholder="firstname">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn login_btn">

                    </div>


                </form>

                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        already have an account?<a href="login">Log in</a>
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}
